{% extends 'C:\Users\lenovo\Desktop\CU.com\project\templates\pages\base.html'%}
{%load static%}
<!doctype html>
<html>

<head>
    {% block title%}
        <title>HomePage</title>
        <meta description="CU University community v1.0">
    {%endblock%}
</head>

<body>
    {%block content%}
    <div class="container ">
        <div class="nav-content text-center display-5 pt-5 fw-bold">
            <p>Welcome, CU Community </h2>
            <p>This is your home page</p>
        </div>
    
        <div class="content my-5 mx-auto fs-4 p-4">
            <div class="title">
                <h1>Edit Student Data</h1>
            </div>
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
            </p>
        </div>
        <div class="content my-5 mx-auto fs-4 p-4">
            <div class="title">
                <h1>Edit Student Data</h1>
            </div>
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est tenetur, unde, maxime recusandae debitis
                reprehenderit quaerat exercitationem hic deserunt, porro eaque laudantium incidunt sunt vitae sint facilis
                facere amet?
            </p>
        </div>
    </div>

    {%endblock%}

</body>

</html>